---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<section class="gap-5 py-12 px-8">
  <div class="max-w-screen-lg mx-auto mb-10">
    <h2 class="text-3xl font-bold opacity-80 mb-3">{title}</h2>
    <p class="text-lg max-w-[42rem] mr-auto leading-relaxed opacity-60">
      {body}
    </p>
  </div>

  <div class="max-w-screen-lg mx-auto grid grid-cols-1 md:grid-cols-2 gap-9">
    <slot />
  </div>
</section>
