---
import Question from "./Question.tsx"

interface Props {
  title: string;
  body: string;
  name: string;
}

const {title, body, name} = Astro.props

const questions: { question: string; answer: string[] }[] = [
  {
    question: `Lorem ipsum dolor sit amet epsum eta?`,
    answer: ["Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins"],
  },
  {
    question: `Lorem ipsum dolor sit amet epsum eta?`,
    answer: ["Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins"],
  },
  {
    question: `Lorem ipsum dolor sit amet epsum eta?`,
    answer: ["Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins"],
  },
  {
    question: `Lorem ipsum dolor sit amet epsum eta?`,
    answer: ["Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins"],
  },
  {
    question: `Lorem ipsum dolor sit amet epsum eta?`,
    answer: ["Lorem ipsum dolor sit amet epsum eta ins lorem ipsum dolor ipsum dolor sit amet epsum eta ins lorem ipsum dolor sit amet epsum eta ins sit amet epsum eta ins"],
  },
]
---

<section class="gap-5 py-12 px-8">
  <div class="max-w-screen-lg mx-auto mb-10">
    <h2 class="text-3xl font-bold opacity-80 mb-3">{title}</h2>
    <p class="text-lg max-w-[42rem] mr-auto leading-relaxed opacity-60">
      {body}
    </p>
  </div>

  <div class="max-w-screen-lg mx-auto flex flex-col">
    {
      questions.map(({question, answer}) => (
          <Question question={question}
                    answer={answer} />
      ))
    }
  </div>
</section>
