---
interface Props {
  name: string;
  contactEmail: string;
  earlyAccessLink: string;
}

const {name, contactEmail, earlyAccessLink} = Astro.props
---

<header
    class="max-w-screen-xl mx-auto p-4 sm:p-6 lg:p-8 flex items-center justify-between"
>
  <h1>
    <a href="/"
       class="font-bold opacity-80">
      <img src="/images/Ballink.png"
           class="h-4 w-auto"
           title={name} />
    </a>
  </h1>

  <nav class="flex items-center gap-8">
    <a href="/about">About</a>
    <a href={`mailto:${contactEmail}`}>Contact</a>
    <a class="hidden sm:inline py-0.5 px-2 text-blue-600 rounded font-medium hover:text-blue-800 transition duration-200 ease-in-out"
       href={earlyAccessLink}>Early Access →</a>
  </nav>
</header>
